{% block seo_metadata_widget %}
    {% if form.parent.vars.value.id is not null %}
        {% set breadcrumb = seo_breadcrumb(form.parent.vars.value) %}
        {% set schema = seo_schema_org(form.parent.vars.value) %}
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#seo-metadata" data-toggle="tab" aria-expanded="false">
                        {{ 'seo.metadata'|trans(domain='UmanitSeoBundle') }}
                    </a>
                </li>
                <li>
                    <a href="#seo-urls" data-toggle="tab" aria-expanded="false">
                        {{ 'seo.urls'|trans(domain='UmanitSeoBundle') }}
                    </a>
                </li>
                {% if breadcrumb is not empty %}
                    <li>
                        <a href="#seo-breadcrumb" data-toggle="tab" aria-expanded="false">
                            {{ 'seo.breadcrumb'|trans(domain='UmanitSeoBundle') }}
                        </a>
                    </li>
                {% endif %}
                {% if schema is not empty %}
                    <li>
                        <a href="#seo-schema" data-toggle="tab" aria-expanded="false">
                            {{ 'seo.microdata'|trans(domain='UmanitSeoBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="seo-metadata">
                    {{ form_row(form.title) }}
                    <div class="help-block text-muted small">
                        {{ 'seo.metatitle.help'|trans(domain='UmanitSeoBundle') }}"{{ seo_title(form.parent.vars.value) }}"
                    </div>
                    {{ form_row(form.description) }}
                </div>
                <div class="tab-pane" id="seo-urls">
                    <div class="form-group">
                        <label class="control-label">{{ 'seo.main_url'|trans(domain='UmanitSeoBundle') }}</label>
                        <div>
                            <a class="text-bold" target="_blank" href="{{ url(form.parent.vars.value) }}">
                                {{ url(form.parent.vars.value) }}
                            </a>
                        </div>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 20px">#</th>
                                <th>{{ 'seo.source_url'|trans(domain='UmanitSeoBundle') }}</th>
                                <th></th>
                                <th>{{ 'seo.destination_url'|trans(domain='UmanitSeoBundle') }}</th>
                            </tr>
                            {% for url_item in url_history|default([]) %}
                                {# @var url_item \Umanit\SeoBundle\Entity\UrlHistory #}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td class="float-right">
                                        <a target="_blank" href="{{ url_item.oldPath }}">{{ url_item.oldPath }}</a>
                                    </td>
                                    <td>
                                        <span class="text-center text-green text-uppercase font-weight-bold h3">&rarr;</span>
                                    </td>
                                    <td>
                                        <a target="_blank" href="{{ url_item.newPath }}">{{ url_item.newPath }}</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">{{ 'seo.no_redirects'|trans(domain='UmanitSeoBundle') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if breadcrumb is not empty %}
                    <div class="tab-pane" id="seo-breadcrumb">
                        <pre class="prettyprint">{{- breadcrumb -}}</pre>
                    </div>
                {% endif %}
                {% if schema is not empty %}
                    <div class="tab-pane" id="seo-schema">
                        <pre class="prettyprint">{{- schema -}}</pre>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock seo_metadata_widget %}
